{% load static %}
<!-- <link rel="stylesheet" href="{% static "css/styles.css" %}"> -->
<div id="password-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Password Required</h2>
        <p>This URL is password protected. Please enter the password.</p>
        <input type="password" id="password-input">
        <button onclick="submitPassword(`{{ short_url }}`)">Submit</button>
        <button onclick="closeModal()">Cancel</button>
    </div>
</div>
<script src="{% static "js/script.js" %}"></script>
